<section class="container">
  <div class="my-5">
    <h1 class="text-center">All Movies</h1>
  </div>

  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text"><strong>Year:</strong> <%= movie.year %></p>
            <p class="card-text"><strong>Genre:</strong> <%= movie.genre %></p>
            <p class="card-text"><strong>Overview:</strong> <%= movie.overview %></p>
            <p class="card-text"><strong>Rating:</strong> <%= movie.rating %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
