<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-bold">
    <h1 style="padding: 30px 0">Save any kind of movies</h1>
  </div>
</div>

<div class="container py-4">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>New Watchlist</h3>
        <%= simple_form_for @list do |f| %>
          <%= f.input :name, placeholder: 'Comedy' %>
          <%= f.input :movies, as: :select, collection: @movies, label: 'Movies:' %>
          <%= f.submit class: 'btn btn-warning' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Lists</h3>
    <p><%= @lists %></p>
  </div>
  <%# <div class="row">

  </div> %>
</div>
