<h1><%= @list.name %></h1>

<h2>Add New Bookmark</h2>

<div class="search-bar search-hover">
<%= render "shared/search_bar" %>

<h2>Bookmarks</h2>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <%= bookmark.movie.title %> - <%= bookmark.url %>
      <% if bookmark.comment.present? %>
        <br>
        <%= bookmark.comment %>
      <% end %>
    </li>
  <% end %>
</ul>
